@charset "UTF-8";
/*Дефолтные настройки начало*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*изменение ширины блока.*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*убираем линии обводки некоторых браузеров.*/
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/*Добавляем к HTML тегам блочные параметры.*/
nav, footer, header, aside {
  display: block;
}

/*уравнивание поведение шрифтов и элементов для разных браузеров*/
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*наследование шрифтов*/
input, button, textarea {
  font-family: inherit;
}

/*убераем особенности разных браузеров*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-mos-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*обнуление заголовков*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Дефолтные настройки конец*/
.button{
    margin: 50px 0;
    text-align: center;
}
.addtr{
    height: 50px;
    width: 100px;
}
.addtd{
    height: 50px;
    width: 100px;
}
.table{
    margin: 0 auto;
    width: 200px;
    max-width: 200px;
    height: 50px;
    min-height: 50px;
    border-collapse: collapse;
}
.table__td{
    border: 1px solid black;
}
.menu__item__none{
    border: 1px solid black;
    display: none;
}
.contextmenu__del{
    display: none;
}
.contextmenu__add{
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.menu__item{
    border: 1px solid black;
    background-color: yellow;
}
.menu__link{
    width: 100%;
}
.menu__link:hover {
    color: #fff;
    background-color: #0066aa;
  }

